#!/usr/bin/env nextflow

// Set user-specific parameters
env {
    EMAIL = "words"
    STDERR_DIRECTORY = "words"
    STDOUT_DIRECTORY = "words"
    PROJECT = "words"
    OUTPUT_DIRECTORY = "/panfs/roc/groups/9/morrellp/wyant008/testing/FlowBio_testing"
    DEPENDENCIES_FILE = "/panfs/roc/groups/9/morrellp/wyant008/FlowBio/dependencies.sh"
}

// Set shell parameters
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Set profiles for different executor types
profiles {
    local {
        process.executor = 'local'
    }
    pbs {
        process {
            executor = 'pbs'
            cpus = '1'
            queue = 'lab'
            time = '2h'
            memory = '1 GB'
            clusterOptions = "-m abe -M ${EMAIL} -e ${STDERR_DIRECTORY} -o ${STDOUT_DIRECTORY}"
        }
    }
}

// Set profiles for processing different types of data
profiles {
    nanopore {
        includeConfig 'Quality_Assessment_NanoPlot.config'
    }
}