params{

/*
*   Where are we storing the output files?
*       Final directory is ${OUT_DIR}/Name_of_Handler
*/
outdir="$baseDir/results"

//   Name this project
projectName = "QA"
//  Name of the process wants to run
pipeline = "Quality_Assessment"
// Source scripts
sourceScript = "/home/chea/Autopipeline/handlers/Quality_Assessment.sh"
// Sample list, a list of fastaq files
sampleList = "$baseDir/test_data/sample.list"

/*
*   What is the size of the genome (for whole-genome sequencing)
*   or capture region (for exome capture)?
*   If unavailable, put "NA"
*/
size = "NA"
}