params{

/*
*   Where are we storing the output files?
*       Final directory is ${OUT_DIR}/Name_of_Handler
*/
OUT_DIR="$baseDir/results"

//  Name this project, please use underscore in place of spaces
//  Example: my_chickpea
PROJECT_NAME='TEST'

/*
*   Name of the process and tool we want to run
*   Syntax is Process:Tool
*   Users can specify "Run_All" to run entire predefined pipeline
*   or provide a comma separated list of selected processes to run
*   Example: PIPELINE="Quality_Assessment:FastQC,Adapter_Trimming:Scythe,Read_Mapping:BWA"
*
*   Valid Process and Tool options are (See docs for more info):
*   Run_All
*   Data_Fetching
*   Quality_Assessment
*       FastQC
*   Adapter_Trimming
*       Scythe
*       Trimmomatic
*   Quality_Trimming
*   Read_Mapping
*       BWA
*       Minimap2
*   SAM_Processing
*       Samtools
*   Variant_Calling
*       Freebayes
*       GATK (..in development, available soon!)
*       Platypus
*/
PIPELINES=


// Sample list, a list of fastq files
SAMPLE_LIST = "$baseDir/test_data/sample.list"

/*
*   What is the size of the genome (for whole-genome sequencing)
*   or capture region (for exome capture)?
*   If unavailable, put "NA"
*/
TARGET = "NA"
}