/*
* -------------------------------------------------
*  NCBI-Hackathons/Autopipeline Nextflow config file
* -------------------------------------------------
* Default config options for all environments.
* Cluster-specific config options should be saved
* in the conf folder and imported under a profile
* name here.
*/

//  Fill out the following to specify custom filepaths and parameters
params{
	
	/*
	*   Name of the process and tool we want to run
	*   Syntax is Process:Tool
	*   Users can specify "Run_All" to run entire predefined pipeline
	*   or provide a comma separated list of selected processes to run
	*   Example: PIPELINE="Quality_Assessment:FastQC,Adapter_Trimming:Scythe,Read_Mapping:BWA"
	*
	*   Valid Process and Tool options are (See docs for more info):
	*   Run_All
	*   Data_Fetching
	*   Quality_Assessment
	*       FastQC
	*   Adapter_Trimming
	*       Scythe
	*       Trimmomatic
	*   Quality_Trimming
	*   Read_Mapping
	*       BWA
	*       Minimap2
	*   SAM_Processing
	*       Samtools
	*   Variant_Calling
	*       Freebayes
	*       GATK (..in development, available soon!)
	*       Platypus
	*       SAMTools (bcftools)
	*/
	PIPELINES=""
	
	/*
	*   Where are we storing the output files?
	*       Final directory is ${OUT_DIR}/Name_of_Handler
	*/
	OUT_DIR = "$baseDir/results"
	
	/*
	*   Name this project, please use underscore in place of spaces
	*   Example: my_chickpea
	*/
	PROJECT = "TEST"
	
	/*
	*   What encoding is used for quality values?
	*   Look at the FastQC files to determine
	*   the sequence encoding. Choose from:
	*       'sanger', 'illumina'
	*       'solexa', or 'phred'
	*/
	//QUAL_ENCODING =
	
	/*
	*   Sequencing platform technology
	*   What platform were the reads produced?
	*   Valid options are:
	*       CAPILLARY, LS454, ILLUMINA,
	*       SOLID, HELICOS, IONTORRENT
	*       ONT, and PACBIO
	*/
	//SEQ_PLATFORM =
	
	//  What reference genome are we using?
	//  Include the full file path.
	//REF_GEN =
	
	/*
	* -------------------------------------------------
	*       Data_Fetcher Parameters
	* -------------------------------------------------
	*/
	
	//  Where is our list of SRA accession run ID numbers?
	SRR_LIST = ""
	
	//  Are we working with single or paired end reads?
	//  Valid options are: PE and SE
	//LIB_LAYOUT =
	
	/*
	* -------------------------------------------------
	*       Quality_Assessment Parameters
	* -------------------------------------------------
	*/
	
	//  Provide a list of FastQ, SAM, or BAM files to be used
	//  Include the full file path.
	//QA_SAMPLES =
	
	//  What is the size of the genome (for whole-genome sequencing)
	//  or capture region (for exome capture)?
	//  If unavailable, put "NA"
	TARGET = "NA"
	
	/*
	* -------------------------------------------------
	*       Adapter_Trimming Parameters
	* -------------------------------------------------
	*
	* -----------------------------
	*   General Trimming Params
	* -----------------------------
	*/
	
	//  Where is the list of original FastQ files?
	//  Include the full file path.
	//RAW_SAMPLES=
	
	//  What shared suffix do the forward samples have?
	//  Example: _1_sequence.txt.gz
	FORWARD_NAMING="_R1.fastq.gz"
	
	//  What shared suffix do the reverse samples have?
	//  Example: _2_sequence.txt.gz
	REVERSE_NAMING="_R2.fastq.gz"
	
	/*
	*  If you have single-end samples, leave
	*  FORWARD_NAMING and REVERSE_NAMING
	*  filled with values that do NOT
	*  match your samples
	*/
	
	//  What is our adapter file? Include the full file path.
	//ADAPTERS=
	
	/*
	* -----------------------------
	*   Scythe Specific Params
	* -----------------------------
	*/
	
	//  What is Scythe's prior contamination rate?
	//  Scythe's documentation suggests starting at
	//  0.05 and then experimenting as needed
	PRIOR=0.05
	
	/*
	* -------------------------------------------------
	*       Quality_Trimming Parameters
	* -------------------------------------------------
	*/
	
	//  Where is our list of trimmed samples? Include the full file path.
	ADAPTED_LIST = "${OUT_DIR}/Adapter_Trimming/${PROJECT}_trimmed_adapters.txt"
	
	/*
	*  What shared suffix do the trimmed forward samples have?
	*  If using the Adapter_Trimming handler,
	*  leave the following definition as is
	*/
	FORWARD_ADAPTED = "_Forward_ScytheTrimmed.fastq.gz"
	
	/*
	*  What shared suffix do the trimmed reverse samples have?
	*  If using the Adapter_Trimming handler,
	*  leave the following definition as is
	*/
	REVERSE_ADAPTED = "_Reverse_ScytheTrimmed.fastq.gz"
	
	/*
	*  What shared suffix do the trimmed single samples have?
	*  If using the Adapter_Trimming handler,
	*  leave the following definition as is
	*/
	SINGLES_ADAPTED = "_Single_ScytheTrimmed.fastq.gz"
	
	/*
	*  If you have single-end samples, leave
	*  FORWARD_ADAPTED and REVERSE_ADAPTED
	*  filled with values that do NOT
	*  match your samples
	*
	*  If you have paired-end samples, leave
	*  SINGLES_ADAPTED filled with values that
	*  do NOT match your samples
	*/
	
	//  What is the threshold for trimming?
	//  For standard trimming, use 20
	//QT_THRESHOLD =

}
